<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<style>

#blog-logo {
     display: block;
     max-width: 100%;
     max-height: 400px;
     width: auto;
     margin: 0 auto;
     line-height: 0;
     }

img.geeske-float {
    float: right;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    img.geeske-float {
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
    }
}
@media (min-width: 768px) {
  #site-head {
    min-height: 420px;
  }
}

</style>
